@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

:root {
  --background-color: #f3f8f8;
  --primary-text-color: #000000;
  --table-header-background-color: #2c3e50;
  --table-header-text-color: #ffffff;
  --table-row-odd-color: #bceaf1;
  --table-row-even-color: #b0dbe2;
  --grey-color: #b0bec5;
}

body {
  @apply min-h-screen bg-primaryBgColor font-roboto-regular text-lg text-primaryTextColor;
}

th,
td {
  @apply border border-white p-2;
}

tbody tr {
  @apply bg-tableRowOddColor even:bg-tableRowEvenColor;
}
